@charset "UTF-8";
  /* .all{ 
  width: 400px;
  } */
  
    .red-box{
      position: relative;
      width: 400px;
      height: 100px;
      background: #ff0000;
    }
    .cleafix:after{
      content: "";
      display: block;
      clear: both;
    }
    .green-box{
      /* position: absolute; */
      float: left;
      width: 150px;
      height: 250px;
      background: #00ff1e;
    }
    .blue-box{
      float: left;
      /* float: right; */
      height: 250px;
      width:250px;
      background: #3300ff;
    }
    .yellow-box{
      height: 100px;
      background: #ffe600;
      width: 400px;
    }