@charset "UTF-8";
 body{ 
  margin: 0;
  max-width: 400px;
  max-height: 100%;
  }
  main:after{
    content: "";
    display: block;
    clear: both;
  }
    .red-box{
      position: relative;
      width: 400px;
      height: 100px;
      background: #ff0000;
    }
    .green-box{
      position: absolute;
      width: 150px;
      height: 250px;
      background: #00ff1e;
    }
    .blue-box{
      height: 250px;
      background: #3300ff;
    }
    .yellow-box{
      height: 100px;
      background: #ffe600;
    }